@layer utilities {
  .lighten {
    transition: all 0.2s ease-in-out;
    background-color: var(--background-color);
  }
  /* Lighten background on hover */
  .lighten:hover {
    background-color: var(--background-hover);
  }

  .smooth {
    transition: all 0.4s ease-out;
  }
}
