@layer components {
  :root {
    --border: hsla(0, 13%, 33%, 0.463);
  }

  .main-nav {
    border-bottom: 1px solid var(--border);
  }

  nav > .nav-section {
    padding: 3rem 2rem;
    display: flex;
    gap: 1rem;
    border-left: 1px solid var(--border);
    align-items: center;
    justify-content: center;
  }

  #mobile-nav-cell {
    border-left: 1px solid var(--border);
    padding: 3rem 2rem;
  }

  .bordino {
    border-left: 1px solid var(--border);
  }

  .bar {
    @apply w-full h-[3px] bg-white rounded-lg;
  }

  #nav-logo-section {
    justify-content: flex-start;
  }

  #nav-logo-section,
  #nav-link-section {
    flex-basis: calc(100% / 3);
  }

  #nav-social-section,
  #nav-contact-section {
    flex-grow: 1;
  }

  /* Arrow hover effects */
  .article-nav-section-half i {
    transition: all 0.2s ease-in-out;
  }
  .article-nav-section-half-right:hover i {
    transform: translateX(15px);
  }
  .article-nav-section-half-left:hover i {
    transform: translateX(-15px);
  }

  .article-title-section {
    justify-content: space-between;
  }

  .article-title-section i {
    transition: all 0.4s ease;
  }
  .article-title-section:hover i {
    transform: rotate(180deg);
  }
  .article-nav-section-half-left:hover i {
    transform: translateX(-15px);
  }

  article {
    @apply grid-rows-[1fr,1fr] lg:grid-cols-[2fr,1fr] lg:grid-rows-[2fr,1fr];
  }
}
