@layer components {
  main {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
  }

  main > article {
    display: grid;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: transform 400ms ease;
  }

  main > article > .article-section {
    height: 100%;
    border: 1px solid var(--border-color);
  }

  main > article > .article-description-section,
  main > article > .article-nav-section {
    border-left: 1px solid var(--border-color);
  }

  main > article > .article-title-section,
  main > article > .article-nav-section {
    border-top: 1px solid var(--border-color);
  }

  main > article > .article-title-section {
    cursor: pointer;
    @apply p-10 lg:p-0;
  }

  main > article > .article-image-section {
    background-size: cover;
    background-repeat: no-repeat;
    @apply bg-center bg-cover;
  }

  main > article > .article-description-section {
    display: flex;
    place-items: end;
    @apply lg:p-[50px] p-8 text-large;
  }

  .article-nav-section-half {
    @apply flex justify-center w-1/2 h-full cursor-pointer place-items-center;
  }

  .article-nav-section-half-right {
    border-left: 1px solid var(--border-color);
    @apply lg:p-[50px] p-5;
  }

  .article-nav-button {
    @apply w-full h-full;
  }

  article[data-status="active"] {
    display: grid;
  }
  article[data-status="inactive"] {
    display: none;
  }
  article[data-status="after"] {
    transform: translateX(100%);
  }
  article[data-status="before"] {
    transform: translateX(-100%);
  }
  article[data-status="becoming-active-from-left"] {
    transform: translateX(-100%);
    transition: none;
  }
  article[data-status="becoming-active-from-right"] {
    transform: translateX(100%);
    transition: none;
  }
}
